* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    list-style-type: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: black; /* Retirar mais tarde */
}

.container {
    max-width: 150rem;
    padding: 0 2%;
    margin: 0 auto;
}

header {
    padding: 1.2rem 0;
    background-color: #ffd600;
    border-bottom: .1rem solid #c5ab29;
}

header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Outfit', sans-serif;
    display: flex;
}

.trace {
    width: .27rem;
    height: 6.7rem;
    background: rgb(60,60,60);
    border-radius: .2rem;
    margin-right: 1.2rem;
    -webkit-box-shadow: .1rem .1rem .4rem .05rem white; 
    box-shadow: .1rem .1rem .4rem .05rem white; 
}

h1 {
    font-size: 2.8rem;
}

p {
    font-size: 1.5rem;
}

p, h1 {
    text-shadow: .2rem .2rem .35rem white;
    color: black;
}

.logo-text h1, .logo-text p {
    padding: .2rem 0;
    margin: 0;
    cursor: pointer;
}

header .menu-mobile {
    margin-right: 1rem;
    display: none;
    color: white;
    float: right;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 10;
}

header .menu-mobile .menu-hamburguer {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.menu-hamburguer span {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: black;
    border-radius: 3px;
    transform-origin: 6px 3px;
    transition: transform 0.5s,
                background 0.5s,
                opacity 0.55s;
}

.menu-hamburguer span:first-child {
    transform-origin: 0% 0%;
}

.menu-hamburguer span:nth-last-child(3) {
    transform-origin: 0% 100%;
}

.activated span {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    /*background: #36383f;*/
}

.activated span:nth-of-type(2) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2,0.2);
}

.activated span:nth-of-type(3) {
    transform: rotate(-45deg) translate(0,-1px);
}

.menu-mobile ul {
    top: 9rem;
    left: 0;
    width: 100vw;
    height: 0;
    overflow: hidden;
    list-style-type: none;
    position: absolute;
    box-shadow: 0 0 10px #85888c;
    background-color: #f5f6fa;
    transition: height 0.5s, opacity 0.5s;
}

.menu-mobile ul li {
    cursor: pointer;
    padding: 15px 0;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: white;
    transition: background-color 0.3s, color 0.3s;
}

.menu-mobile ul li:hover {
    background-color:rgb(100,100,100);
}

.menu-mobile ul li:hover a {
    color: white;
}

.menu-mobile ul li a {
    color: black;
}

.menu-mobile ul li:not(:last-of-type) {
    border-bottom: 2px solid rgb(100,100,100);
}

.activated ul {
    height: 13.8rem;
}

header .menu-desktop ul {
    padding-right: 1.5rem;
}

header .menu-desktop ul li {
    display: inline-block;
    padding-left: 2.2rem;
    text-transform: uppercase;
}

header .menu-desktop ul li a {
    color: black;
    font-size: 1.4rem;
    font-weight: 600;
    transition: text-shadow 0.2s, color 0.2s, font-size 0.2s;
    text-shadow: .2rem .2rem .35rem white;
    display: inline-block;
}

header .menu-desktop ul li a:hover {
    color: white;
    text-shadow: .2rem .2rem .35rem black;
    font-size: 1.45rem;
    position: relative;
}

figure.caroucel {
    width: 100%;
    height: 80vh;
    position: relative;
    overflow: hidden;
    border-bottom: .1rem solid rgb(206, 206, 206);
}

.trs {
    -webkit-transition: all ease-out 0.5;
    -o-transition: all ease-out 0.5s;
    -ms-transition: all ease-out 0.5s;
    transition: all ease-out 0.5s;
}

.slider {
    position: relative;
    z-index: 1;
    height: 100%;
}

.slider > div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    background-position: 50% 40%;
    background-size: cover;
    background-repeat: no-repeat;
}

.active {
    opacity: 1 !important;
}

/* Controladores do carrossel */

figure > span {
    background: rgba(60,60,60,0.6);
    cursor: pointer;
    opacity: 0;
    position: absolute;
    bottom: 50%;
    width: 5rem;
    height: 5rem;
    z-index: 5;
}

figure > span:hover {
    background: rgba(40,40,40,0.9);
}

.next {
    right: 3rem;
}

.next:before, .next:after {
    left: 2.5rem;
}

.next:before {
    transform: rotate(-42deg);
    top: .9rem;
}

.next:after {
    transform: rotate(-132deg);
    top: 2.2rem;
}

.next:before, .next:after, .prev:before, .prev:after {
    content: "";
    height: 2rem;
    background: #fff;
    width: .25rem;
    position: absolute;
}

.prev {
    left: 3rem;
}

.prev:before, .prev:after {
    left: 2.2rem;
}

.prev:before {
    transform: rotate(42deg);
    top: .9rem;
}

.prev:after {
    transform: rotate(132deg);
    top: 2.2rem;
}

figure:hover span {
    opacity: 0.7;
}

section.highlights {
    background: rgb(233, 233, 233);
    padding: 7rem 0;
    text-align: left;
    border-bottom: .1rem solid #c5ab29;
}

section.highlights .container > h2 {
    text-shadow: .2rem .2rem .35rem rgb(196, 189, 189);
    font-size: 3rem;
    margin-bottom: 5rem;
    text-align: center;
}

.showcase {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

/*** Card ***/

.card {
    position: relative;
    min-width: 21rem;
    width: 23%;
    max-width: 24rem;
    margin: 0 1%;
    margin-bottom: 6rem;
    padding-top: clamp(31rem,34.3%,35.5rem);
    background: rgb(206, 206, 206);
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0 2.5rem 2rem -2rem hsl(200 50% 20% / 40%);
}

.card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1b1b1b;
    clip-path: circle(15rem at 75% 15%);
    transition: 0.5s ease-in-out;
}

.card:hover:before {
    clip-path: circle(25rem at 80% -20%);
}

.card .imgBx {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 100%;
    height: 22rem;
    transition: 0.5s;
}

.card:hover .imgBx {
    top: 0%;
    left: 0%;
    transform: translate(0%,0%);
}

.card .imgBx img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 88%;
}

.card .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 11rem;
    text-align: center;
    transition: 1s;
    z-index: 9;
}

.card:hover .contentBx {
    height: 16rem;
}

.card .contentBx h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: .1rem;
    color: #fff;
    margin: 0;
    margin-bottom: 1rem;
    text-shadow: .1rem .1rem .35rem rgb(128, 128, 128);
}

.card .contentBx p {
    font-weight: 500;
    font-size: 1.4rem;
}

.card .contentBx a {
    display: inline-block;
    padding: 1rem 2rem;
    background: #fff;
    border-radius: .4rem;
    margin-top: 1.5rem;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(5rem);
    transition: 0.5s;
}

.card:hover .contentBx a {
    opacity: 1;
    transform: translateY(0rem);
    transition-delay: 0.25s;
}

.card .contentBx a:hover {
    background-color: #1b1b1b;
    color: #fff;
    transition: 0s;
}

/**  **/

.highlights button {
    margin-left: 3%;
    width: 17rem;
    height: 5rem;
    background-color: #000000;
    border-radius: .7rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s;
}

.highlights button:hover {
    background-color: #1a1a1a;
}

.highlights button:hover i {
    transform:translateX(35%);
    -moz-transform: translateX(35%);
    -webkit-transform: translateX(35%);
    -o-transform: translateX(35%);
    -ms-transform: translateX(35%);
}

.highlights button i {
    padding-left: 1rem;
    font-size: 1.5rem;
    transition: transform 0.5s;
}

.about {
    background-color: #ffd600;
    padding: 8rem 0;
}

.about .container {
    display: flex;
    justify-content: space-around;
}

.about .mosaic {
    height: 50rem;
    display: flex;
    width: 60%;
    max-width: 60rem;
}

.about .mosaic .mosaic-images {
    width: 50%;
    height: 50rem;
}

.about .mosaic-images > div {
    width: 100%;
    height: calc(50% - .5rem);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: .5rem;
    border-radius: 1rem;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
    0 5px 15px 0 rgba(0,0,0,0.08);
    border-left: 0 solid #ecc500;
    transition: border-left 300ms ease-in-out, padding-left 300ms ease-in-out;
}

.about .mosaic-images > div:hover {
    padding-left: .5rem;
    border-left: .8rem solid #ecc500;
}

.about .mosaic video {
    width: 50%;
    object-fit: fill;
    margin: .5rem 1rem 1rem 1rem;
    height: calc(100% - .5rem);
    border-radius: 1rem;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
    0 5px 15px 0 rgba(0,0,0,0.08);
    border-left: 0 solid #ffd600;
    transition: border-left 300ms ease-in-out, padding-left 300ms ease-in-out;
}

.about .mosaic video:hover {
    border-left: .8rem solid #ecc500;
}

.about .container .about-description {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about .about-description h3 {
    padding-top: 10% 0;
    font-size: 3rem;
    text-align: center;
    text-shadow: .1rem .1rem .35rem white;
}

.about .about-description p {
    padding: 10% 0;
    font-weight: 500;
    font-size: 1.8rem;
    text-align: justify;
}

.vision-exam {
    background: rgb(233, 233, 233);
    display: flex;
}

.vision-exam .image-exam {
    width: 35%;
    min-width: 34rem;
    max-width: 50rem;
    height: 50rem;
    background-image: url('../images/image-exam.jpg');
    background-size: cover;
    background-position: right;
    border: .2rem solid #333;
    position: relative;
    z-index: 0;
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vision-exam .image-exam::before,
.vision-exam .image-exam::after {
    position: absolute;
    background: rgba(0,0,0,0);
    z-index: -1;
    transition: 1s;
    content: '';
}

.vision-exam .image-exam::before {
    height: 49.6rem;
    width: 75%;
    border-top: .2rem solid #ffd600;
    border-bottom: .2rem solid #ffd600;
}

.vision-exam .image-exam::after {
    width: 100%;
    height: 37.5rem;
    border-left: .2rem solid white;
    border-right: .2rem solid rgb(233, 233, 233);
}

.image-exam:hover::before {
    width: 0px;
}

.image-exam:hover::after {
    height: 0px;
}

.vision-exam .container {
    padding: 8rem 2%;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.vision-exam .contact-us h2 {
    text-shadow: .2rem .2rem .35rem rgb(196, 189, 189);
    font-size: 2.8rem;
    margin-bottom: 4rem;
    max-width: 80rem;
    padding: 2rem 0;
    border-radius: 1rem;
}

.vision-exam .contact-us p {
    padding: 1rem 0;
    font-size: 1.6rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center
}

.vision-exam p i {
    padding-right: 1rem;
    font-size: 2.5rem;
    color: black;
}

footer {
    padding: 1.2rem 0;
    background-color: #ffd600;    
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .container .social-medias {
    max-width: 20rem;
    text-align: center;
}

footer .container .social-medias h4 {
    padding-bottom: .7rem;
    font-size: 1.1rem;
    text-shadow: .2rem .2rem .35rem white;
}

footer .container .social-medias a {
    font-size: 1.7rem;
    padding: 0 .5rem;
    color: black;
    text-shadow: .2rem .2rem .35rem white;
}

footer .container .social-medias a:hover {
    color: white;
    text-shadow: .2rem .2rem .35rem black;
}

@media screen and (max-width: 860px) {
    .vision-exam .image-exam {display: none;}
    .vision-exam .container {width: 100%;}
    figure > span {
        opacity: 0.7;
    }
}

@media screen and (max-width: 768px) {
    header .menu-desktop {display: none;}

    header .menu-mobile {display:block}

    .about .container {
        flex-wrap: wrap;
    }

    .about .container .about-description,
    .about .container .mosaic {
        width: 100%;
        padding: 0 5%;
    }
}

@media screen and (max-width: 715px) {
    .card {
        margin: 0 5%;
        margin-bottom: 5rem;
    }
}

@media screen and (max-width: 575px) {
    .showcase {
        justify-content: center;
    }
    .card {
        margin: 0 2% 4rem 2%;
    }
    .highlights button {
        margin: 0 auto;
    }
    .vision-exam .contact-us p {
        font-size: 1.3rem;
    }
    .about .mosaic,
    .about .mosaic .mosaic-images {
        height: 40rem;
    }
    footer .container .social-medias h4 {
        display: none;
    }
}